Package: de.vincentschweiger.noccls
Name: NoCCLS
Version: 0.0.2
Architecture: iphoneos-arm
Description: Remove the CC bar from the lockscreen
Maintainer: Vento
Author: Vento
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
